<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="shortcut icon" type="image/svg" href="../media/logo.svg">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Travel Booking App</title>
    </head>

    <body>


      <section class="body_section">
        <header>
          <figure>
            <img src="../media/logo.svg" alt="logo" width="60px" height="60px">
          </figure>
            <h1>The Travel Booking App</h1>
        </header>
        <div class="form_section">
          <form action="" id="form">
            <div id="error-block"></div>
            <div class="input_container">
              <div>
                <label for="departure_city">Current Location</label>
                <input type="text" name="city" id="departure_city">
              </div>
              <div>
                <label for="arrival_city">Destination</label>
                <input type="text" name="city" id="arrival_city">
              </div>
            </div>
            <div class="input_container">
              <div>
                <label for="departure_date">Departure Date</label>
                <input type="date" name="departure_date" id="departure_date">
              </div>
              <div>
                <label for="arrival_date">Arrival Date</label>
                <input type="date" name="arrival_date" id="arrival_date">
              </div>
            </div>
            <button type="submit" id="submit">Search</button>
            <button type="submit" id="add_button">Add Destination</button>
          </form>
        </div>

        
      </section>
      
        <!-- <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                  navigator.serviceWorker.register('/service-worker.js')
                  .then(reg => console.log("Service worker registered successfully"));
              });
          }
      </script> -->
    </body>
</html>
