<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="shortcut icon" type="image/svg" href="../media/travel.svg">

        <!-- Safari doesn't support input date type. jQuery datepicker is used in this instance -->
        <script type="text/javascript">
          var datefield=document.createElement("input")
          datefield.setAttribute("type", "date")
          if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
            document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
            document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
            document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n') 
          }
        </script>
        <script>
          if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
            jQuery(function($){ //on document.ready
              $('#departure_date').datepicker();
              $('#arrival_date').datepicker();
            })
          }
        </script>
        <!-- End of jQuery script tag -->
        <title>Travel Booking App</title>
    </head>

    <body>

      
      <section class="body_section" id="body_section">
        <header>
          <figure>
            <img src="../media/travel.svg" alt="logo" width="60px" height="60px">
          </figure>
            <h1>The Travel Booking App</h1>
        </header>
        <div class="form_section">
          <form action="" id="form">
            <div id="error-block"></div>
            <div class="input_container">
              <div>
                <label for="departure_city">Current Location</label>
                <input type="text" name="city" id="departure_city">
              </div>
              <div>
                <label for="arrival_city">Destination</label>
                <input type="text" name="city" id="arrival_city">
              </div>
            </div>
            <div class="input_container">
              <div>
                <label for="departure_date">Departure Date</label>
                <input type="date" name="departure_date" id="departure_date">
              </div>
              <div>
                <label for="arrival_date">Return Date</label>
                <input type="date" name="arrival_date" id="arrival_date">
              </div>
            </div>
            <button type="submit" id="submit">Search</button>
          </form>
        </div>
      </section>
      <section id="result_section" class="display-hide"></section>
      <!-- user trip card will be poplated here -->
      </section>
      <!-- loading logo during async api call -->
      <img src="../media/25.svg" alt="loading logo" class="loading_logo toggle_logo" id="loading_logo">
      <footer id="footer">
        <p>Built by Adedeji abiola</p>
        <div class="social">
          <span>Connect with me on <a href="https://twitter.com/deji_abiola" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/in/adedeji-abiola/" target="_blank">Linkedin</a>
            <a href="https://github.com/dejiabiola" target="_blank">Github</a>
          </span>
        </div>
      </footer>
      
        <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                  navigator.serviceWorker.register('/service-worker.js')
                  .then(reg => console.log("Service worker registered successfully"));
              });
          }
      </script>
    </body>
</html>
