<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Travel Booking Site</title>
    </head>

    <body>

      <h1>Let use begin</h1>
        <!-- <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                  navigator.serviceWorker.register('/service-worker.js')
                  .then(reg => console.log("Service worker registered successfully"));
              });
          }
      </script> -->
    </body>
</html>
