

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 800px;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1.3rem;
  margin: 20px;
}

#submit {
  padding: 1rem;
  background: black;
  color: white;
  width: 200px;
  font-size: 1rem
}