header {
  margin-bottom: 150px;
  background-color: rgba(99, 91, 91, 0.685);
  display: flex;
  align-items: center;
  
  figure {
    width: 100px;
    display: inline-block;
    padding: 10px 40px;
    margin-right: 30px;
  }
  

  h1 {
    font-family: 'Bree Serif', sans-serif;
    display: inline-block;
    font-size: 1.6rem;
  }
}

