.display-hide {
  display: none;
}


.prepare-section {
  min-height: 100vh;
  // background-color: #807E86;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  font-family: 'Baloo Paaji 2', cursive;
}


.loading_logo {
  position: relative;
  left: 45%;
  bottom: 300px;
}

.toggle_logo {
  display: none;
}